<h1>Employee List</h1>

 <table class="table table-bordered">
     <thead>
         <tr>
            
             <th>Id</th>
             <th>Name</th>
             <th>Gender</th>
             <th>Email</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let employee of employees; index as i; first as f; last as l; even as e; odd as o; trackBy: trackyById; " [style.background]="e ? 'ccc' : 'fff'">
            
             <td>{{ employee.id }}</td>
             <td>{{ employee.name }}</td>
             <td>{{ employee.gender }}</td>
             <td>{{ employee.email }}</td>
             
         </tr>
     </tbody>
 </table>

 <button class="btn btn-primary" (click)="onButtonClicked()" >Add Data</button>