<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

	<servlet>
	
		<servlet-name>First</servlet-name>
		<servlet-class>com.anthony.MyServlet</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
		
		<servlet-name>First</servlet-name>
		<url-pattern>/First</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
	
		<servlet-name>Second</servlet-name>
		<servlet-class>com.anthony.SecondServlet</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
		
		<servlet-name>Second</servlet-name>
		<url-pattern>/Second</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
	
		<servlet-name>Third</servlet-name>
		<servlet-class>com.anthony.ThirdServlet</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
		
		<servlet-name>Third</servlet-name>
		<url-pattern>/Third</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>com.anthony.RegisterServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	

</web-app>